//Here you can customize bootstrap
$primary: #663399;
@import "~bootstrap/scss/bootstrap.scss";

.legend {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
      margin-top: 1rem;
      img {
        width: 20px;
      }
    }
  }
}